<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <!-- This file is now included in Package.wxs - keeping for reference only -->
  <!--
  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="!(bind.Property.Manufacturer) !(bind.Property.ProductName)" />
    </StandardDirectory>
  </Fragment>
  -->
</Wix>
